includes:
	- phpstan-baseline.php
	- phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon

parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- src/Views/*
	universalObjectCratesClasses:
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
		- vendor/codeigniter4/settings/src/Helpers
	dynamicConstantNames:
		- CodeIgniter\CodeIgniter::CI_VERSION
	codeigniter:
		additionalConfigNamespaces:
			- CodeIgniter\Settings\Config
			- CodeIgniter\Shield\Config
		additionalServices:
			- CodeIgniter\Shield\Config\Services
	strictRules:
		allRules: false
		disallowedLooseComparison: true
		booleansInConditions: true
		disallowedBacktick: true
		disallowedEmpty: true
		disallowedImplicitArrayCreation: true
		disallowedShortTernary: true
		matchingInheritedMethodNames: true
