[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #b13a10;
    --md-primary-fg-color--light: #8d7474;
    --md-primary-fg-color--dark: #6d554d;

    --md-default-bg-color: #1e2129;

    --md-typeset-a-color: #ed6436;
    --md-accent-fg-color: #f18a67;

    --md-accent-fg-color--transparent: #625151;

    --md-code-bg-color: #282b2d;

    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
        color: #c9a69b;
    }

    .hljs-meta .hljs-string,
    .hljs-regexp,
    .hljs-string {
        color: #a3b4c7;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-variable {
        color: #c1b79f;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
        color: #c97100;
    }

    .hljs-subst {
        color: #ddba52
    }

    .md-typeset code {
        border: 1px solid #3f4547;
    }

    .md-typeset .admonition.note,
    .md-typeset details.note {
        border-color: #2c5293;
    }

    .md-typeset .note > .admonition-title:before,
    .md-typeset .note > summary:before {
        background-color: #2c5293;
        -webkit-mask-image: var(--md-admonition-icon--note);
        mask-image: var(--md-admonition-icon--note);
    }

    .md-typeset .admonition.warning,
    .md-typeset details.warning {
        border-color: #97631e;
    }

    .md-typeset .warning > .admonition-title:before,
    .md-typeset .warning > summary:before {
        background-color: #97631e;
        -webkit-mask-image: var(--md-admonition-icon--warning);
        mask-image: var(--md-admonition-icon--warning);
    }
}
