[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #6a290d;
    --md-primary-fg-color--light: #8d7474;
    --md-primary-fg-color--dark: #6d554d;

    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
        color: #c9a69b;
    }

    .hljs-meta .hljs-string,
    .hljs-regexp,
    .hljs-string {
        color: #a3b4c7;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-variable {
        color: #c1b79f;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
        color: #c97100;
    }

    .hljs-subst {
        color: #ddba52
    }
}
