name: Smart Commenting

on:
    pull_request:
      branches:
        - develop
      paths:
        - '**.php'
        - 'composer.*'
        - '.github/workflows/smart-commenting.yml'
      types:
        - labeled
    push:
      branches:
        - develop
      paths:
        - '**.php'
        - 'composer.*'
        - '.github/workflows/smart-commenting.yml'
permissions:
  issues: write
  pull-requests: write
  contents: read
jobs:

  add-comment-for-GPG-Signing:
    uses: codeigniter4/.github/.github/workflows/label-signing.yml@main

  add-comment-for-conflict:
    uses: codeigniter4/.github/.github/workflows/label-add-conflict-all-pr.yml@main

  add-comment-for-tests:
    if: github.event.label.name == 'tests needed'
    runs-on: ubuntu-latest
    steps:
      - name: Add comment for PHPUnit test
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            **Unit Testing:**
            Unit testing is expected for all CodeIgniter components. We use PHPUnit, and run unit tests using GitHub Actions for each PR submitted or changed.

            **So please write a unit test or update the existing tests.**

            See  [unit testing][1] for more info.

            [1]: https://github.com/codeigniter4/CodeIgniter4/blob/develop/contributing/pull_request.md#unit-testing

